h1, h3, h5 {color: tomato;}
h2, h4, h6 {color: goldenrod;}
small {color: white;}
p {color: white;}
a {color: teal;}
dl {background-color: darkolivegreen; color: salmon;}
dd {display: block; margin-left: 20px;}
